In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
VoteData = pd.read_csv('datasets/vote.txt',header=None)

In [3]:
VoteData

                                                     0
0    0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 1 0 1 0 0 1 ...
1    0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 1 0 1 0 0 1 ...
2    1 0 0 1 0 1 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 1 ...
3    1 1 0 0 0 1 0 0 1 0 1 0 0 0 0 1 0 1 0 1 0 0 1 ...
4    1 0 1 0 0 1 0 0 1 0 1 0 0 0 1 0 0 1 0 1 0 0 1 ...
..                                                 ...
430  0 1 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 1 0 1 0 0 1 ...
431  1 1 0 0 1 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 ...
432  0 1 0 0 0 0 1 1 0 0 0 1 0 0 1 0 0 1 0 1 0 0 1 ...
433  0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0 1 0 0 0 1 0 ...
434  0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 1 0 1 0 0 1 ...

[435 rows x 1 columns]